<% if @children.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Child</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= number_to_currency(child.balance, unit: '£') %></td>
        <td>
          <%= link_to 'Activity', controller: 'child', action: 'summary', id: child.id %> |
          <%= link_to 'Add/Subtract', controller: 'child', action: 'transaction', id: child.id %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no children</p>
<% end %>
<%= link_to 'Add Child', '/child/create' %>