<%= form_for :transaction, url: '/transaction' do |f| %>

<% if @transaction && @transaction.errors.any? %>
  <ul class="alert alert-danger">
  <% @transaction.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

  <p>
    <%= f.label :child_id %><br>
    <%= f.select(:child_id, options_for_select(@child_array, @child_id)) %>
    <span id="child-balance">Balance: <%= number_to_currency(@child.balance, unit: '£') %></span>
  </p>

  <p>
    <%= f.label :action %><br>
    <%= f.select(:action, ['Subtract', 'Add']) %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </p>
 
  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>
<script>
  $('#transaction_child_id').change(function () {
    var id = $(this).val();
    $.get('/child/'+id+'/balance', function (balance) {
      $('#child-balance').html('Balance: ' + balance);
    });
  });
</script>

